@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  background-color: #fafafa;
  font-family: "Noto Sans JP", sans-serif;
}
main {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 800px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
#limit ul {
  list-style: none;
  padding-left: 0;
}
p {
  margin-left: 1em;
}
h2 {
  margin-top: 1rem;
}
h3 {
  margin-top: 1rem;
  margin-left: 1rem;
}
pre {
  break-inside: avoid;
  background-color: #f0f0f0;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  width: 100%;
}
hr {
  width: 100%;
}
h2 + div {
  margin-left: 1rem;
  padding-left: 1rem;
}
h3 + div {
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-left: 1px solid #6c757d;
}
div p {
  margin: 0.5em 0;
}
p#eop {
  text-align: right;
}
table {
  break-inside: avoid;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #ccc;
  padding: 0.3em;
}

@media print {
  @page {
    size: A4 portrait;
  }
  body {
    background-color: #fff;
  }
  main {
    border: none;
    box-shadow: none;
  }
  h2 {
    break-before: column;
  }
}
