<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>problem</title>
    <script src="../common/common_loader.js"></script>
  </head>
  <body>
    <!-------------------------------------- Start 変えていいところ ----------------------------------------->
    <main>
      <h1>Title</h1>
      <div id="limit">
        <ul>
          <!-- 基本的には変えないこと -->
          <li>実行時間制限: 1 sec</li>
          <li>メモリ制限: 512 MiB</li>
        </ul>
      </div>
      <hr />
      <h2>問題文</h2>
      <div id="prob">
        <!-- ここに問題文を書く -->
        <p></p>
      </div>
      <h2>制約</h2>
      <div id="constraint">
        <ul>
          <!-- ここに制約を書く -->
          <!-- 数式は $ で囲む -->
          <li></li>
        </ul>
      </div>
      <hr />
      <h2>入力</h2>
      <div id="input">
        <p>入力は以下の形式で標準入力から与えられる。</p>
        <!-- スペースは半角スペースで -->
        <!-- 数式中にスペースを入れるときは \ を入れる -->
        <pre><code></code></pre>
      </div>
      <h2>出力</h2>
      <div id="output">
        <!-- ○○を出力せよ -->
        <p></p>
      </div>
      <hr />
      <h2>入出力例</h2>
      <h3>例1</h3>
      <div>
        <h4>入力</h4>
        <div>
          <pre><code></code></pre>
        </div>
        <h4>出力</h4>
        <div>
          <pre><code></code></pre>
        </div>
      </div>
      <!-------------------------------------- End 変えていいところ ----------------------------------------->
      <p id="eop">End of Problem</p>
    </main>
  </body>
</html>
